<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true">
    <p>
      <mat-nav-list>
        <a mat-list-item [routerLink]="link[0]" *ngFor="let link of links">{{
          link[1]
        }}</a>
      </mat-nav-list>
    </p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button mat-button (click)="drawer.toggle()">
      <i *ngIf="!drawer.opened" class="fa fa-angle-right"></i>
      <i *ngIf="drawer.opened" class="fa fa-angle-left"></i>
    </button>
    <span style="right: 0; position: absolute; margin: 5px 5px 0 0"
      >25. Geiseltalseelauf</span
    >

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
