<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    test
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    test
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    test
  </button>
</mat-toolbar>

<app-blocks> </app-blocks>

<input type="text" placeholder="00:01:02" [(ngModel)]="offset" /><button
  (click)="startTime()"
>
  Timer starten
</button>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links">
          <a matLine href="{{ link[0] }}">{{ link[1] }}</a>
        </mat-list-item>
      </mat-nav-list>
    </p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container>
